<div class="sidebar default-primary-color">
  <div class="sidebar__toogle d-flex justify-content-end">
    <mat-icon class="sidebar__tooggle_icon text-white"> menu </mat-icon>
  </div>
  <div class="sidebar__header">
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
        <div class="header__img">
            <img src="./../../../../assets/img/boy.png" alt="">
        </div>
        <div class="header__name mt-3">
            <h6 class="text-white"> José Suarez </h6>
        </div>
    </div>
  </div>
  <div class="sidebar__body">

  </div>
</div>
