<div id="sidebar" class="sidebar default-primary-color">
  <div class="sidebar__toogle d-flex justify-content-end">
    <mat-icon class="sidebar__tooggle_icon text-white" (click)="toggleSideBar()" > menu </mat-icon>
  </div>
  <div class="sidebar__header">
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
        <div class="header__img">
            <img class="full-width" src="./../../../../assets/img/boy.png" alt="">
        </div>
        <div class="header__name mt-3">
            <h6 class="text-white"> José Suarez </h6>
        </div>
    </div>
  </div>
  <div class="sidebar__body mt-4">
    <div class="">
      <div class="title">
        <span> MENU </span>
      </div>
      <ul class="list-item">
        <li routerLink="inicio" routerLinkActive="active" class="item">
            <mat-icon> home </mat-icon> 
            <span> Inicio </span> 
        </li>
        <li routerLink="/inventario/clientes" routerLinkActive="active" class="item">
            <mat-icon> person </mat-icon> 
            <span> Clientes </span> 
        </li>
        <li routerLink="/inventario/proveedores" routerLinkActive="active" class="item">
          <mat-icon> people </mat-icon> 
          <span> Proveedores </span> 
        </li>
        <li routerLink="/inventario/productos" routerLinkActive="active" class="item">
          <mat-icon> shopping_cart </mat-icon>
          <span> Productos </span> 
        </li>
      </ul>
    </div>
  </div>
</div>
