<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4> Panel Principal </h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <app-state-money></app-state-money>
    </div>
    <div class="col-12 col-lg-6">
      <app-notifications></app-notifications>
    </div>
    <div class="col-12 mt-4">
      <h6> Actividades más frecuentes </h6>
      <div class="row">
          <div class="col-3" *ngFor="let activity of activities">
              <app-activity [activityData]="activity" ></app-activity>
          </div>
      </div>
    </div>
  </div>
</div>