<div class="container-fluid">
  <div class="row box">
    <div class="col-12 box__title">
      <mat-icon> info </mat-icon>
      <span class="ml-2"> Información de Hoy </span>
    </div>
    <div class="col-12 box__body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2 d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="./../../../../../assets/img/coins.png" alt="">
          </div>
          <div class="col-10">
            <div class="container-fluid">
              <div class="row">
                  <div class="col-12 mt-3">
                      <span> Estado de Drinkeros </span>
                  </div>
              </div>
              <div class="row mt-2 mb-3 ">
                <div class="col-6">
                  <div class="row">
                      <div class="col-12">
                        <div class="box-money__title">
                          <span class="text-center d-block"> Ingresos </span>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="box-money__body">
                            <span class="text-center d-block py-1"> S/. 100 </span>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                          <div class="box-money__title">
                            <span class="text-center d-block"> Egresos </span>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="box-money__body">
                              <span class="text-center d-block py-1"> S/. 50 </span>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
              <div class="btn-action">
                  <button mat-raised-button color="primary" class="full-width"> Ver Detalles </button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
