#main-body {
    padding: 65px 0 0 0;
    z-index: 1;
}

.main-body{
    margin-left: 250px;
    transition: all 0.7s;
}

.main-body-toggle {
    margin-left: 40px;
}

#btn-action {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
}