@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

body {
    overflow-x: hidden;
}

*:focus{
    outline: 0 !important;
}

.full-width {
    width: 100%;
}

.body-margin {
    padding: 14px 10px 0 10px;
}

:root {
    --dark-primary-color : #455A64;
    --default-primary-color : #607D8B;
    --light-primary-color : #CFD8DC;
    --text-primary-color : #FFFFFF;
    --accent-color : #536DFE;
    --accent-secondary-color : #8C9EFF;
    --primary-text-color : #212121;
    --secondary-text-color : #757575;
    --divider-color : #BDBDBD;
}

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #536DFE !important; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }





