<app-progress-bar *ngIf="showProgressBar"></app-progress-bar>
<div class="body-margin">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-12">
        <app-button-back></app-button-back>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-title-bar [title]="'Datos del Trabajador'" ></app-title-bar>
      </div>
    </div>
  </div>
  <div *ngIf="!showProgressBar" class="container-fluid">
    <div class="form ">
      <app-form-worker [state]="'save'" [worker]="worker" [btnText]="'Registrar Trabajador'"></app-form-worker>
    </div>
  </div>
</div>
